html, body{
    height: 100%;
    margin: 0;
    overflow: auto;
}

#col_wrapper {
    width: 100%;
}

#left_col {
    float: left;
    width: 47%;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

#right_col {
    float: right;
    width: 47%;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.gallery-holder {
    width: 60%;
    position: relative;
    top: 0;
    left: 0;
    height: 350px;
}

.image-holder {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
    height: 95%;
    width: 80%;
}

.sub-gallery-thumbnail {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    height: 95%;
    width: 20%;
}

.thumbnail-image-holder {
    display: inline;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 25%;
    width: 100%;
}